In [24]:
actor = "Tom cruse"
actor2 = []
length = len(actor)
print(length)

9

In [25]:
subjects = ["kor","eng","mat"]
points =  [99,88,77]
resultList = list(zip(subjects,points) )
print(resultList)

[('kor', 99), ('eng', 88), ('mat', 77)]

In [27]:
subjects = ["kor","eng","mat"]
points =  [99,88,77]
for subject,point in zip(subjects,points):
    print(subject,point)

kor 99
eng 88
mat 77

In [29]:
a = "abc"
b = "가나다"
ab = list(zip(a,b))
print(ab)

[('a', '가'), ('b', '나'), ('c', '다')]

In [ ]:
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
<파이썬 문제79> 아래와 같은 테이블 형식의 데이터가 있다

			dept 테이블
			==============================================================
			depno   depname   loc   
			==============================================================
			1     관리부       서울
			--------------------------------------------------------------
			2     영업부       경기
			--------------------------------------------------------------
			3     홍보부       인천
			--------------------------------------------------------------
			4     자재부       부산
			==============================================================

			employee 테이블                                                  
			==============================================================
			eno   ename     jikup        jnum     salary   depno
			==============================================================
			1     사오정1    사장       681225-1   9000     1
			--------------------------------------------------------------
			2     사오정2    부장       701125-1   8000     1
			--------------------------------------------------------------
			3     사오정3    부장       721125-2   7000     2
			--------------------------------------------------------------
			4     사오정4    과장       801121-1   6000     2
			--------------------------------------------------------------
			5     사오정5    대리       861117-2   5000     3
			--------------------------------------------------------------
			~     ~          ~            ~
			==============================================================

			customer 테이블                                                  
			==============================================================
			cno   cname       jnum           eno
			==============================================================
			1     사오정1     681225-1        4
			--------------------------------------------------------------
			2     사오정2     701125-1        5
			--------------------------------------------------------------
			3     사오정3     721125-2        2
			--------------------------------------------------------------
			4     사오정4     801121-1        2
			--------------------------------------------------------------
			5     사오정5     861117-2        3
			--------------------------------------------------------------
			~     ~          ~            ~
			==============================================================

			-----------------------------------------------------
			dept     테이블  데이터를 DataFrame 객체에 저장하기
			employee 테이블  데이터를 DataFrame 객체에 저장하기
			customer 테이블  데이터를 DataFrame 객체에 저장하기
			-----------------------------------------------------
			-----------------------------------------------------
			고객을 담당하고 있지 않는 직원의
			부서이름별, 직급별, 성별, 연봉합, 연봉평균 출력하기
			-----------------------------------------------------
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

In [4]:

import pandas as pd
#--------------------------------
deptDf = pd.DataFrame(
    [
         [1, "관리부", "서울"]
        ,[2, "영업부", "경기"]
        ,[3, "홍보부", "인천"]
        ,[4, "자재부", "부산"]
    ]
    ,columns=["depno","depname","loc"]
)
#--------------------------------

#--------------------------------
empDf = pd.DataFrame(
	[
		[ 1, "마재인", "사장", "920405-2", 9000, 1 ]
		,[ 2, "송리예", "사원", "000824-4", 3500, 3 ]
		,[ 3, "송영아", "주임", "000608-3", 3200, 3 ]
		,[ 4, "선혜덕", "주임", "000319-4", 3400, 1 ]
		,[ 5, "피장린", "사원", "971022-2", 3400, 2 ]
		,[ 6, "고역철", "사원", "970611-1", 3100, 1 ]
		,[ 7, "류현영", "사원", "001124-4", 3000, 3 ]
		,[ 8, "김만용", "주임", "980813-2", 3500, 2 ]
		,[ 9, "선웅구", "사원", "010627-3", 3200, 2 ]
		,[ 10, "고온덕", "사원", "000613-3", 3200, 4 ]
		,[ 11, "강재경", "사원", "990427-2", 3400, 2 ]
		,[ 12, "김온철", "사원", "000912-4", 3200, 4 ]
		,[ 13, "남리경", "사원", "000731-3", 3400, 3 ]
		,[ 14, "신국현", "사원", "001003-3", 3400, 1 ]
		,[ 15, "박리덕", "사원", "990625-1", 3400, 4 ]
		,[ 16, "선덕장", "주임", "970727-1", 3100, 2 ]
		,[ 17, "구장희", "주임", "991119-1", 3200, 2 ]
		,[ 18, "선용열", "사원", "010718-3", 3400, 3 ]
		,[ 19, "김주조", "주임", "970019-2", 3300, 2 ]
		,[ 20, "박경재", "사원", "970001-2", 3200, 2 ]
		,[ 21, "마현무", "사원", "000226-3", 3100, 2 ]
		
		,[ 22, "라지신", "대리", "970619-1", 3700, 3 ]
		,[ 23, "피우아", "대리", "970426-2", 3600, 2 ]
		,[ 24, "신임장", "대리", "960810-1", 3900, 2 ]
		,[ 25, "피순윤", "대리", "960306-2", 3800, 3 ]
		,[ 26, "나천온", "대리", "970306-2", 3600, 3 ]
		,[ 27, "강온사", "대리", "950025-2", 3600, 4 ]
		,[ 28, "김나시", "대리", "970519-1", 3800, 2 ]
		,[ 29, "송리미", "대리", "950502-2", 3900, 3 ]
		,[ 30, "송열경", "대리", "961022-1", 3800, 3 ]
		,[ 31, "선윤태", "대리", "960623-1", 3800, 2 ]
		,[ 32, "강만정", "대리", "970801-2", 3800, 4 ]
		,[ 33, "강도규", "대리", "950825-2", 3600, 3 ]
		,[ 34, "장유민", "대리", "971007-2", 3700, 2 ]
		,[ 35, "이조", "대리", "961003-2", 3800, 3 ]
		,[ 36, "서우태", "대리", "970628-1", 3900, 2 ]
		
		,[ 37, "라국경", "과장", "920823-1", 4200, 1 ]
		,[ 38, "이운인", "과장", "930428-2", 4200, 1 ]
		,[ 39, "남사덕", "과장", "920724-1", 4500, 1 ]
		,[ 40, "신은비", "과장", "930303-2", 4200, 4 ]
		,[ 41, "정진호", "과장", "940901-2", 4300, 4 ]
		,[ 42, "나사나", "과장", "910825-1", 4200, 4 ]
		,[ 43, "고윤리", "과장", "901030-1", 4100, 2 ]
		,[ 44, "강영천", "부장", "910616-2", 4600, 2 ]
		,[ 45, "성영비", "과장", "910511-1", 4500, 1 ]

	]
	 ,columns=["eno","ename","jikup","jnum","salary","depno"]
)
#--------------------------------

#--------------------------------
cusDf = pd.DataFrame(
	[
		[ 1, "권구장", "921125-2", 15 ]
		,[ 2, "권시단", "920027-2", 15 ]
		,[ 3, "남우나", "920616-2", 17 ]
		,[ 4, "강동태", "920429-1", 2 ]
		,[ 5, "송란정", "940507-1", 10 ]
		,[ 6, "강덕석", "931017-2", 21 ]
		,[ 7, "서아정", "930510-1", 13 ]
		,[ 8, "나윤구", "940814-2", 17 ]
		,[ 9, "이웅임", "900007-1", 17 ]
		,[ 10, "한예만", "910416-1", 17 ]
		,[ 11, "고순시", "910011-2", 4 ]
		,[ 12, "문사도", "930619-2", 12 ]
		,[ 13, "강린상", "921013-1", 4 ]
		,[ 14, "마경윤", "910627-2", 18 ]
		,[ 15, "나경동", "931028-1", 17 ]
		,[ 16, "안국희", "920419-2", 17 ]
		,[ 17, "선정국", "910911-1", 21 ]
		,[ 18, "강진구", "930118-1", 13 ]
		,[ 19, "구신예", "900003-2", 16 ]
		,[ 20, "선희영", "920418-1", 14 ]
		,[ 21, "마시만", "930117-2", 11 ]
		,[ 22, "강윤철", "930210-2", 19 ]
		,[ 23, "류아열", "920109-2", 12 ]
		,[ 24, "구정신", "930602-2", 11 ]
		,[ 25, "라시구", "911030-1", 12 ]
		,[ 26, "남린철", "940414-2", 19 ]
		,[ 27, "고나린", "930415-1", 15 ]
		,[ 28, "마주아", "940619-1", 11 ]
		,[ 29, "박경은", "900003-1", 19 ]
		,[ 30, "피규석", "920809-1", 15 ]
		,[ 31, "한경란", "900710-2", 10 ]
		,[ 32, "강단정", "920003-1", 9 ]
		,[ 33, "문열빈", "930725-2", 12 ]
		,[ 34, "신신희", "920029-2", 15 ]
		,[ 35, "라주인", "900715-2", 18 ]
		,[ 36, "남수희", "940424-2", 13 ]
		,[ 37, "서주신", "920623-2", 16 ]
		,[ 38, "박장열", "941029-2", 15 ]
		,[ 39, "임경조", "920316-2", 10 ]
		,[ 40, "송재아", "920508-1", 9 ]
		,[ 41, "조현린", "940512-2", 18 ]
		,[ 42, "마성석", "930625-1", 14 ]
		,[ 43, "민정경", "940229-2", 14 ]
		,[ 44, "남무정", "920227-1", 18 ]
		,[ 45, "허운리", "920411-1", 17 ]
		,[ 46, "장해시", "900518-2", 19 ]
		,[ 47, "서미만", "940520-1", 14 ]
		,[ 48, "남유호", "920610-1", 14 ]
		,[ 49, "안예단", "930330-1", 18 ]
		,[ 50, "성지우", "911008-2", 20 ]
		,[ 51, "윤인미", "900921-2", 17 ]
		,[ 52, "강경우", "940202-2", 17 ]
		,[ 53, "허진우", "920709-2", 4 ]
		,[ 54, "임아운", "940004-2", 6 ]
		,[ 55, "남경운", "910011-2", 17 ]
		,[ 56, "허열나", "900021-2", 11 ]
		,[ 57, "유빈구", "920411-2", 14 ]
		,[ 58, "우비경", "920008-2", 17 ]
		,[ 59, "한수지", "930804-1", 2 ]
		,[ 60, "조지우", "910817-2", 24 ]
		,[ 61, "장린단", "910409-1", 3 ]
		,[ 62, "임무언", "910211-2", 16 ]
		,[ 63, "김호인", "910716-2", 14 ]
		,[ 64, "나아해", "920928-2", 18 ]
		,[ 65, "성국희", "920516-1", 16 ]
		,[ 66, "한구덕", "910727-2", 13 ]
		,[ 67, "윤장만", "920313-2", 14 ]
		,[ 68, "나은언", "910712-1", 12 ]
		,[ 69, "우재복", "920321-1", 9 ]
		,[ 70, "권상신", "920614-1", 19 ]
		,[ 71, "조인구", "910330-2", 13 ]
		,[ 72, "이운진", "910301-2", 15 ]
		,[ 73, "한민재", "910730-2", 9 ]
		,[ 74, "문만주", "920202-1", 8 ]
		,[ 75, "반시석", "940729-2", 12 ]
		,[ 76, "남나민", "900723-1", 15 ]
		,[ 77, "마순주", "910929-2", 10 ]
		,[ 78, "김아경", "920516-1", 19 ]
		,[ 79, "고만영", "940713-1", 14 ]
		,[ 80, "권비구", "940622-2", 12 ]
		,[ 81, "마수희", "910324-2", 16 ]
		,[ 82, "강규민", "911109-1", 15 ]
		,[ 83, "라장은", "930223-2", 8 ]
		,[ 84, "라운구", "920128-1", 10 ]
		,[ 85, "임지석", "940310-1", 7 ]
		,[ 86, "손도구", "900117-2", 9 ]
		,[ 87, "남호운", "930827-1", 9 ]
		,[ 88, "정상무", "930804-1", 16 ]
		,[ 89, "우순시", "940418-2", 18 ]
		,[ 90, "피구무", "920913-2", 18 ]
		,[ 91, "김경장", "900007-1", 16 ]
		,[ 92, "남단역", "930923-1", 22 ]
		,[ 93, "우나국", "940502-2", 13 ]
		,[ 94, "고신인", "910926-2", 20 ]
		,[ 95, "박희도", "940526-2", 22 ]
		,[ 96, "서수언", "930517-1", 16 ]
		,[ 97, "안연복", "930723-1", 16 ]
		,[ 98, "박정조", "900219-2", 10 ]
		,[ 99, "강언주", "910811-1", 15 ]
		,[ 100, "강진해", "930323-1", 9 ]
	]
	 ,columns=["cno","cname","jnum","eno"]
)

empEnos = set(empDf["eno"].to_list())
cusEnos = set(cusDf["eno"].to_list())
notEnoList = list(empEnos.difference(cusEnos))
print(notEnoList)
empEno = empDf["eno"]
result = cusDf[cusDf["eno"].isin(empDf["eno"])]

no = 0
enoList = []
enoList = cusDf.isin(result)
while no > len(cusDf):
            
 if cusDf.loc[i,"eno"] != result:
        enoList.append(cusDf.drop(
            i
            ,axis = 0

))
 no+=1

[1, 5, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
# 서열 순위를 리턴하는 함수 선언(범용 함수)
def getRank(numList,num):
    rank = 0
    for num2 in numList:
        if num < num2:
            rank = rank+1
    return rank+1

In [21]:
import pandas as pd
df1 = pd.DataFrame(
    [
        [1,"사오정","사장","남"]
        ,[2,"저팔계","부장","남"]
        ,[3,"손오공","과장","남"]
        ,[4,"손3오공","과3장","남"]
    ]
    ,columns =["eno","ename","posi","gender"]
)
df2 = pd.DataFrame(
    [
        [4,"과장","짱구"]
        ,[5,"둘리","주임"]
        ,[6,"마이콜","사원"]
    ]
    ,columns =["eno","ename","posi"]
)
df3 = pd.concat(
    [df1,df2]
    ,axis=1
    
)

print(df3)

   eno ename posi gender  eno ename posi
0    1   사오정   사장      남  4.0    과장   짱구
1    2   저팔계   부장      남  5.0    둘리   주임
2    3   손오공   과장      남  6.0   마이콜   사원
3    4  손3오공  과3장      남  NaN   NaN  NaN

In [ ]:
import pandas as pd
df1 = pd.DataFrame(
    [
        [1,"재석","180"]
        ,[2,"종국","160"]
        ,[3,"하하","170"]
    ]
    ,columns =["번호","이름","키"]
)

df2 = pd.DataFrame(
    [
        [1,"재석","포워드"]
        ,[2,"종국","미드밀더"]
        ,[4,"지효","수비수"]
    ]
    ,columns =["번호","이름","포지션"]
)

In [ ]:
최종 수정본  
  
import pandas as pd

#--------------------------------
# 연봉 서열을 리턴하는 함수 선언
#--------------------------------
def salRank(df, sal):
	cnt = 0
	enoList = df["eno"].tolist()
	for eno in enoList:
		if sal<df.loc[eno,"salary"]:cnt = cnt + 1
	return cnt+1
#--------------------------------

#--------------------------------
# 서열 리턴하는 함수 선언
#--------------------------------
def getRank( numList, num ):
	rank = 0
	for num2 in numList:
		if num<num2:rank = rank + 1
	return rank+1

#--------------------------------
deptDf = pd.DataFrame(
    [
         [1, "관리부", "서울"]
        ,[2, "영업부", "경기"]
        ,[3, "홍보부", "인천"]
        ,[4, "자재부", "부산"]
    ]
    ,columns=["depno","depname","loc"]
)
deptDf.index = deptDf["depno"].tolist()
#--------------------------------
empDf = pd.DataFrame(
	[
		[ 1, "마재인", "사장", "920405-2", 9000, 1 ]
		,[ 2, "송리예", "사원", "000824-4", 3500, 3 ]
		,[ 3, "송영아", "주임", "000608-3", 3200, 3 ]
		,[ 4, "선혜덕", "주임", "000319-4", 3400, 1 ]
		,[ 5, "피장린", "사원", "971022-2", 3400, 2 ]
		,[ 6, "고역철", "사원", "970611-1", 3100, 1 ]
		,[ 7, "류현영", "사원", "001124-4", 3000, 3 ]
		,[ 8, "김만용", "주임", "980813-2", 3500, 2 ]
		,[ 9, "선웅구", "사원", "010627-3", 3200, 2 ]
		,[ 10, "고온덕", "사원", "000613-3", 3200, 4 ]
		,[ 11, "강재경", "사원", "990427-2", 3400, 2 ]
		,[ 12, "김온철", "사원", "000912-4", 3200, 4 ]
		,[ 13, "남리경", "사원", "000731-3", 3400, 3 ]
		,[ 14, "신국현", "사원", "001003-3", 3400, 1 ]
		,[ 15, "박리덕", "사원", "990625-1", 3400, 4 ]
		,[ 16, "선덕장", "주임", "970727-1", 3100, 2 ]
		,[ 17, "구장희", "주임", "991119-1", 3200, 2 ]
		,[ 18, "선용열", "사원", "010718-3", 3400, 3 ]
		,[ 19, "김주조", "주임", "970019-2", 3300, 2 ]
		,[ 20, "박경재", "사원", "970001-2", 3200, 2 ]
		,[ 21, "마현무", "사원", "000226-3", 3100, 2 ]

		,[ 22, "라지신", "대리", "970619-1", 3700, 3 ]
		,[ 23, "피우아", "대리", "970426-2", 3600, 2 ]
		,[ 24, "신임장", "대리", "960810-1", 3900, 2 ]
		,[ 25, "피순윤", "대리", "960306-2", 3800, 3 ]
		,[ 26, "나천온", "대리", "970306-2", 3600, 3 ]
		,[ 27, "강온사", "대리", "950025-2", 3600, 4 ]
		,[ 28, "김나시", "대리", "970519-1", 3800, 2 ]
		,[ 29, "송리미", "대리", "950502-2", 3900, 3 ]
		,[ 30, "송열경", "대리", "961022-1", 3800, 3 ]
		,[ 31, "선윤태", "대리", "960623-1", 3800, 2 ]
		,[ 32, "강만정", "대리", "970801-2", 3800, 4 ]
		,[ 33, "강도규", "대리", "950825-2", 3600, 3 ]
		,[ 34, "장유민", "대리", "971007-2", 3700, 2 ]
		,[ 35, "이조", "대리", "961003-2", 3800, 3 ]
		,[ 36, "서우태", "대리", "970628-1", 3900, 2 ]

		,[ 37, "라국경", "과장", "920823-1", 4200, 1 ]
		,[ 38, "이운인", "과장", "930428-2", 4200, 1 ]
		,[ 39, "남사덕", "과장", "920724-1", 4500, 1 ]
		,[ 40, "신은비", "과장", "930303-2", 4200, 4 ]
		,[ 41, "정진호", "과장", "940901-2", 4300, 4 ]
		,[ 42, "나사나", "과장", "910825-1", 4200, 4 ]
		,[ 43, "고윤리", "과장", "901030-1", 4100, 2 ]
		,[ 44, "강영천", "부장", "910616-2", 4600, 2 ]
		,[ 45, "성영비", "과장", "910511-1", 4500, 1 ]

	]
	 ,columns=["eno","ename","jikup","jnum","salary","depno"]
)
empDf.index = empDf["eno"].tolist()
#--------------------------------
cusDf = pd.DataFrame(
	[
		[ 1, "권구장", "921125-2", 15 ]
		,[ 2, "권시단", "920027-2", 15 ]
		,[ 3, "남우나", "920616-2", 17 ]
		,[ 4, "강동태", "920429-1", 2 ]
		,[ 5, "송란정", "940507-1", 10 ]
		,[ 6, "강덕석", "931017-2", 21 ]
		,[ 7, "서아정", "930510-1", 13 ]
		,[ 8, "나윤구", "940814-2", 17 ]
		,[ 9, "이웅임", "900007-1", 17 ]
		,[ 10, "한예만", "910416-1", 17 ]
		,[ 11, "고순시", "910011-2", 4 ]
		,[ 12, "문사도", "930619-2", 12 ]
		,[ 13, "강린상", "921013-1", 4 ]
		,[ 14, "마경윤", "910627-2", 18 ]
		,[ 15, "나경동", "931028-1", 17 ]
		,[ 16, "안국희", "920419-2", 17 ]
		,[ 17, "선정국", "910911-1", 21 ]
		,[ 18, "강진구", "930118-1", 13 ]
		,[ 19, "구신예", "900003-2", 16 ]
		,[ 20, "선희영", "920418-1", 14 ]
		,[ 21, "마시만", "930117-2", 11 ]
		,[ 22, "강윤철", "930210-2", 19 ]
		,[ 23, "류아열", "920109-2", 12 ]
		,[ 24, "구정신", "930602-2", 11 ]
		,[ 25, "라시구", "911030-1", 12 ]
		,[ 26, "남린철", "940414-2", 19 ]
		,[ 27, "고나린", "930415-1", 15 ]
		,[ 28, "마주아", "940619-1", 11 ]
		,[ 29, "박경은", "900003-1", 19 ]
		,[ 30, "피규석", "920809-1", 15 ]
		,[ 31, "한경란", "900710-2", 10 ]
		,[ 32, "강단정", "920003-1", 9 ]
		,[ 33, "문열빈", "930725-2", 12 ]
		,[ 34, "신신희", "920029-2", 15 ]
		,[ 35, "라주인", "900715-2", 18 ]
		,[ 36, "남수희", "940424-2", 13 ]
		,[ 37, "서주신", "920623-2", 16 ]
		,[ 38, "박장열", "941029-2", 15 ]
		,[ 39, "임경조", "920316-2", 10 ]
		,[ 40, "송재아", "920508-1", 9 ]
		,[ 41, "조현린", "940512-2", 18 ]
		,[ 42, "마성석", "930625-1", 14 ]
		,[ 43, "민정경", "940229-2", 14 ]
		,[ 44, "남무정", "920227-1", 18 ]
		,[ 45, "허운리", "920411-1", 17 ]
		,[ 46, "장해시", "900518-2", 19 ]
		,[ 47, "서미만", "940520-1", 14 ]
		,[ 48, "남유호", "920610-1", 14 ]
		,[ 49, "안예단", "930330-1", 18 ]
		,[ 50, "성지우", "911008-2", 20 ]
		,[ 51, "윤인미", "900921-2", 17 ]
		,[ 52, "강경우", "940202-2", 17 ]
		,[ 53, "허진우", "920709-2", 4 ]
		,[ 54, "임아운", "940004-2", 6 ]
		,[ 55, "남경운", "910011-2", 17 ]
		,[ 56, "허열나", "900021-2", 11 ]
		,[ 57, "유빈구", "920411-2", 14 ]
		,[ 58, "우비경", "920008-2", 17 ]
		,[ 59, "한수지", "930804-1", 2 ]
		,[ 60, "조지우", "910817-2", 24 ]
		,[ 61, "장린단", "910409-1", 3 ]
		,[ 62, "임무언", "910211-2", 16 ]
		,[ 63, "김호인", "910716-2", 14 ]
		,[ 64, "나아해", "920928-2", 18 ]
		,[ 65, "성국희", "920516-1", 16 ]
		,[ 66, "한구덕", "910727-2", 13 ]
		,[ 67, "윤장만", "920313-2", 14 ]
		,[ 68, "나은언", "910712-1", 12 ]
		,[ 69, "우재복", "920321-1", 9 ]
		,[ 70, "권상신", "920614-1", 19 ]
		,[ 71, "조인구", "910330-2", 13 ]
		,[ 72, "이운진", "910301-2", 15 ]
		,[ 73, "한민재", "910730-2", 9 ]
		,[ 74, "문만주", "920202-1", 8 ]
		,[ 75, "반시석", "940729-2", 12 ]
		,[ 76, "남나민", "900723-1", 15 ]
		,[ 77, "마순주", "910929-2", 10 ]
		,[ 78, "김아경", "920516-1", 19 ]
		,[ 79, "고만영", "940713-1", 14 ]
		,[ 80, "권비구", "940622-2", 12 ]
		,[ 81, "마수희", "910324-2", 16 ]
		,[ 82, "강규민", "911109-1", 15 ]
		,[ 83, "라장은", "930223-2", 8 ]
		,[ 84, "라운구", "920128-1", 10 ]
		,[ 85, "임지석", "940310-1", 7 ]
		,[ 86, "손도구", "900117-2", 9 ]
		,[ 87, "남호운", "930827-1", 9 ]
		,[ 88, "정상무", "930804-1", 16 ]
		,[ 89, "우순시", "940418-2", 18 ]
		,[ 90, "피구무", "920913-2", 18 ]
		,[ 91, "김경장", "900007-1", 16 ]
		,[ 92, "남단역", "930923-1", 22 ]
		,[ 93, "우나국", "940502-2", 13 ]
		,[ 94, "고신인", "910926-2", 20 ]
		,[ 95, "박희도", "940526-2", 22 ]
		,[ 96, "서수언", "930517-1", 16 ]
		,[ 97, "안연복", "930723-1", 16 ]
		,[ 98, "박정조", "900219-2", 10 ]
		,[ 99, "강언주", "910811-1", 15 ]
		,[ 100, "강진해", "930323-1", 9 ]
	]
	 ,columns=["cno","cname","jnum","eno"]
)
#--------------------------------
enos_from_emp = set(  empDf["eno"].to_list()  )

enos_from_cus = set(  cusDf["eno"].to_list()  )

enoList = list( enos_from_emp.difference(enos_from_cus)  )
#--------------------------------
i = 0
#--------------------------------
print( "----------------------------------" )
print( "직원번호", "직원명", "연봉서열" )
print( "----------------------------------" )
#*********************************
while True:
	#------------------
	if i+1>len(enoList):break
	#------------------
	eno     = enoList[i]
	salary  = empDf.loc[eno,"salary"]
	ename   = empDf.loc[eno,"ename"]
	jikup   = empDf.loc[eno,"jikup"]
	#------------------
	#print( eno, ename, salRank( empDf, salary ) )
	print( eno, ename, jikup,salary, getRank( empDf["salary"].tolist(), salary ) )
	#------------------
	i = i + 1